.App {
  text-align: center;
  background-color: black;
}

body {
  background-color: #212529 !important;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  outline: none !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-wrapper {
  overflow-x: auto;
}

.scrolling-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}
.scrolling-wrapper .col {
  display: inline-block;
}

#root
  > div
  > div
  > div.d-flex.justify-content-center.align-items-center.flex-column.container-fluid
  > div
  > form
  > div
  > input {
  border: 0;
}

/* 
INPUT GROUP CUSTOM CSS
*/
.custom_input-group {
  position: relative;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
}

.custom_input {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px;
  border: none;
}

.custom_input_no_wrapper {
  border: 2px solid #fff;
}

.custom_input_for_text_area {
  margin-bottom: 10px;
  position: relative;
}

.custom_input::placeholder {
  opacity: 0.6;
  font-size: 16px;
  color: #fff;
}

.custom_text-area {
  color: #fff;
  width: 100%; /* Set the width to 100% of the parent container */
  height: 200px; /* Set the desired height */
  padding: 10px; /* Add padding for a bit of spacing inside the textarea */
  font-size: 16px; /* Set the font size */
  border: 2px solid #fff; /* Add a border */
  border-radius: 8px; /* Optional: Add rounded corners */
  resize: vertical;
  background-color: #282c34;
}
.custom_text-area::placeholder {
  opacity: 0.6;
  color: #fff;
}

.PhoneInputInput {
  flex: 1 1;
  min-width: 0;
  background: none !important;
  border: none !important;
  color: #fff;
}

.PhoneInputInput::placeholder {
  color: #fff;
}

.gradiant_background {
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
}

/* 
SVG
*/
svg:hover {
  color: #b224ef;

  opacity: 0.5;
}

.profile_edit_svg:hover {
  color: #212529;
}

.profile_edit_svg {
  font-size: 30px;
}
